.accordion {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  color: #ffffff;
  max-width: 50%;
}

.accordion__item {
  border-bottom: 2px solid white;
}

.accordion__item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 20px 0;
}

.accordion__item-icon {
  display: block;
  width: fit-content;
  transition: transform 500ms;
}

.accordion__item-content {
  max-height: 0;
  overflow: hidden;
  transition: all 500ms;
}

.accordion__item[is-active] .accordion__item-icon {
  transform: rotate(180deg);
}
