.feature__wrapper {
  display: block;
  text-align: center;
  max-width: 968px;
  margin: 0 auto;
}

.feature__title {
  font-weight: 600;
  font-size: 48px;
  color: white;
}

.button__group {
  width: fit-content;
  display: inline-block;
  padding: 10px;
}
.feature__button {
  max-width: 968px;
  margin: 0 auto;
  color: #7d6aff;
  display: inline-block;
  font-weight: 400;
  font-size: 10px;
  line-height: 28px;
  text-decoration: none;
  width: fit-content;
  padding: 10px 30px;
  text-align: center;
  border-radius: 50px;
  border: 2px solid #7d6aff;
  transition: background-color 300ms ease-in-out;
}
.feature__button:hover {
  color: white;
  background-color: #7d6aff;
}
.feature__textarea {
  padding: 10px 20px;
  font-weight: 400;
  font-size: 10px;
  line-height: 28px;
  text-align: justify;
  color: white;
  max-width: 968px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .feature__content {
    display: flex;
    padding: 10px 200px;
    justify-content: center;
  }

  .feature__wrapper {
    display: block;
    text-align: center;
  }

  .feature__textarea {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
    color: white;
  }
  .feature__button {
    color: #7d6aff;
    display: inline-block;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    text-decoration: none;
    width: fit-content;
    padding: 10px 33px;
    text-align: center;
    border-radius: 50px;
    border: 2px solid #7d6aff;
    transition: background-color 300ms ease-in-out;
  }
}
