.hero {
  position: relative;
  aspect-ratio: 1440 / 846;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

<<<<<<< HEAD
=======
.hero__title {
  margin: 0;
  font-weight: 600;
  font-size: 96px;
}

>>>>>>> 154fbceeb399a2e6ef8ca5dc3a56f8a9cb111037
.hero--center {
  justify-content: center;
  text-align: center;
}

.hero--right {
  justify-content: flex-end;
  text-align: right;
}

.hero__wrapper {
  padding: 24px;
  height: fit-content;
}

.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.hero__title,
.hero__content,
.hero__button {
  color: #ffffff;
}

.hero__button {
  margin-top: 50px;
  display: inline-block;
  width: fit-content;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  text-decoration: none;
  min-width: 202px;
  padding: 15px 24px;
  text-align: center;
  background-color: #7d6aff;
  border-radius: 4px;
  transition: background-color 300ms ease-in-out;
}

.hero__button:hover {
  background-color: purple;
}

@media screen and (min-width: 768px) {
  .hero__wrapper {
    padding: 70px;
  }

  .hero__content {
    max-width: 480px;
  }
}
